<% if(success) { %>
	<p class="bg-success"><%= success %></p>
<% } %>
<% if(error) { %>
	<p class="bg-danger"><%= error %></p>
<% } %>
<!-- 巨幕 -->
<div class="jumbotron">
    <div class="container">
        <h1>欢迎来到MicroBlog</h1>
        <p>Microblog是一个基于Node.js的微博系统</p>
        <% if(!user) { %>
        <a href="/login" class="btn btn-primary" role="button">登陆</a>
		<a href="/reg" class="btn btn-default" role="button">注册</a>
		<% } %>
    </div>
</div>

<div class="row">
	<% if(user){ %>
		<%- partial('say') %>
	<% } %>
	<%- partial('post') %>
</div>