<div class="row">
	<% posts.forEach(function(post, index){ %> 
		<div class="media col-sm-6">
		  <div class="media-body">
		    <h4 class="media-heading"><%= post.user %>说</h4>
		    <small><%= post.time %></small>
		   	<p><%= post.post %></p>
		  </div>
		</div>
	<% }) %>
</div>
